.topbar {
  display: flex;
  position: fixed;
  right:0;
  left: 0;
  height: 2.5em;
  margin: 0;
  padding: 0;
  border-bottom: 10px solid rgba(56, 53, 35, 0.35);
  background: #CDC59D;
  *{
    filter: drop-shadow(1px 1px 0.1rem rgba(0, 0, 0, 0.1));
  }
  .home-button {
    position: absolute;
    display: flex;
    left: 0;
    height: inherit;
    justify-content: center;
    align-items: center;
    margin-left: .3em;
    a {
      color: black;
      &:hover{
        color: #1a1a1a;
      }
      h2 {
        display: inline-block;
        padding-left: .2em;
        margin: auto;
      }
    }

    a {
      .home-icon {
        height: inherit;
        width: 2em;

        svg {
          display: block;
          margin: auto;
          width: 100%;
          height: inherit;

        }
      }
    }
  }

  .right-side {
    position: absolute;
    display: flex;
    right: 0;
    height: inherit;
    justify-content: center;
    align-items: center;

    nav {
      display: flex;
      height: inherit;

      ul {
        margin: auto;
        padding: 0;
        list-style: none;
        justify-content: center;
        align-items: center;

        li {
          display: inline;

          padding-right: .5em;
          padding-left: .5em;

          font-size: 1.3rem;
        }

        li:not(:first-child) {
          border-left: 2px solid black;
        }

        a {
          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }

    .options-icons {
      display: flex;
      height: inherit;
      justify-content: center;
      align-items: center;
      margin: auto;

      svg {
        &:hover{
          transform: scale(1.1);
        }
        height: 90%;
        width: auto;
      }
      a{
        height: inherit;
        width: 2em;

        svg {
          display: block;
          margin: 0;
          width: 100%;
          height: inherit;

        }

      }
      .account {
        padding: 0;
        margin-left: 0.5em;
        margin-right: 0.2em;
      }

      .darkmode {
      }
    }
  }
}
