h1{
  font-size: 3rem;
  //align-self: center;
  //justify-self: center;
  flex: 1 0 auto;
  margin: auto;
}


.squares-container{
  display: grid;
  aspect-ratio: 1/1;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3fr 3fr 3fr;
  grid-column-gap: .4em;
  grid-row-gap: .4em;
  width: 100%;
  justify-self: flex-end;
  margin-top: auto;
}

.message-holder{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  h2{
    flex: 1 1 auto;
    margin: 1em 0;
  }
  button{
    flex: 1 1 auto;
    margin: 1em 0;
    width: 12em;
  }
}

:host{
  display: flex;
  flex-flow: column;
  height: 100%;
  padding-top: 2em;
}
