
div {
  background: #006b6b;
  display: flex;
  padding: 0;
  aspect-ratio: 1/1;
  border: 3px solid rgba(80, 80, 80, 0.73);
  border-radius: 10%;

  svg {
    margin: auto;
    flex: 0 1 auto;
    width: 60%;
    filter: drop-shadow(2px 2px #b4b4b4);
  }
}