<div class="page">

  <app-transaction-add
  *ngIf="showAddTrans"
  (onAddTransaction)="addTransaction($event)"
  (onEditTransaction)="editTransaction($event)"

  ></app-transaction-add>

  <div class="filter-section">

    <div class="header-container">
      <h2>Filter Transactions</h2>
    </div>
    <div class="filter-options-scrollable">
      <!--            tutaj powinien być fajny dropdown z opcjami, zrobie go jako oddzielny component-->
      <section class="example-section">
        <h2>Date</h2>
        <mat-checkbox
          #isDisabled
          class="example-margin"
          [color]="'primary'"
          (change)="dateDisabled = !dateDisabled"
        >
          Date Range
        </mat-checkbox>

        <mat-form-field
          appearance="fill"
          class="mat-field"
          [ngStyle]="{ width: '20em', 'font-size': '0.6rem' }"
        >
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input
            [rangePicker]="picker"
            [disabled]="dateDisabled"
            [formGroup]="dateRange"
          >
            <input formControlName="start"  matStartDate placeholder="Start date" />
            <input formControlName="end" matEndDate placeholder="End date" />
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            [for]="picker"
            matSuffix
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </section>
      <section class="example-section">
        <h2>Categories</h2>
        <!-- <button (click)="fun()"></button> -->
        <div class = "categories-div">
          <mat-checkbox #categorycheckbox class="example-margin" color="primary" *ngFor="let item of categories"
          [checked]="item[1]"
          (change)="item[1] = (categorycheckbox.checked)"
          >{{item[0]}}</mat-checkbox>
        </div>

        <button mat-raised-button color="secondary" (click)="manipulateFilter('sc')">Select All</button>
        <button mat-raised-button color="secondary" (click)="manipulateFilter('dc')">Deselect All</button>
      </section>
      <section class="example-section">
        <h2>Accounts</h2>
        <!-- <button (click)="fun()"></button> -->

        <div class="accounts-div">
          <mat-checkbox #accountcheckbox class="example-margin" color="primary" *ngFor="let item of accounts"
          [checked]="item[1]"
          (change)="item[1] = (accountcheckbox.checked)"
          >{{item[0]}}</mat-checkbox>

        </div>

        <button mat-raised-button color="secondary" (click)="manipulateFilter('sa')">Select All</button>
        <button mat-raised-button color="secondary" (click)="manipulateFilter('da')">Deselect All</button>
      </section>
      <button mat-raised-button class="filter-button" color="primary" (click)="filterTransactions()">Filter</button>
      <span class ="filter-error" *ngIf="filterError!=null">{{filterError}}</span>
    </div>
  </div>

  <div class="transaction-section">

    <h1>Transactions</h1>
    <div class="transactions-table">
      <div class="heading-table-legend">
        <h1>Balance ${{ calculateBalance() }}</h1>
        <mat-paginator
        [length]="transactions.length"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        [pageIndex]="pageIndex"
        (page)="pageEvent = $event;getTransactionsToUI()"
        aria-label="Select page"
      ></mat-paginator>
        <app-transaction [IsHeader]="true"></app-transaction>

      </div>
      <div class="transactions-view">
        <button (click)="aaa()" >XDDDD</button>
        <app-transaction
          *ngFor="let item of transactionsUI"
          [Name]="item.name"
          [Amount]="item.amount"
          [Category]="item.category"
          [Account]="item.account"
          [Datee]="item.date"
          [transaction]="item"
          (onDelete)="deleteTransaction(item)"
          (onEdit)="openEditWindow(item)"
        ></app-transaction>
        <div [ngStyle]="{'height':'8em'}"></div>

      </div>
      <app-transaction-button
      (click)="onAddTransactionClick()"
    ></app-transaction-button>

    </div>
  </div>

</div>
