<div [ngStyle]="{
'border-color':!IsHeader?color:'transparent'}" class="transaction-container">
    <div class="info-side">

        <span class="name">{{Name}}</span>
        <span class="category">{{Category}}</span>
        <span class="account">{{Account}}</span>
        <span class="date"> {{ getDate() }}</span>
        <span class="amount">{{Amount}}</span>

    </div>

    <div [ngStyle]="{
    'visibility':IsHeader?'hidden':'visible'
    }"  class="icons-side">
        <a (click)="onEdit.emit(transaction)">
            <mat-icon aria-hidden="false" aria-label="Delete icon" fontIcon="edit">
            </mat-icon>
        </a>
        <a (click)="onDelete.emit(transaction)">
            <mat-icon aria-hidden="false" aria-label="Delete icon" fontIcon="delete">
            </mat-icon>
        </a>
    </div>
</div>
